#css-about {
  font-family: monospace, Calibri, Trebuchet, sans-serif !important;
  position: relative;
  background-image: url(../img/bg-about.png);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
}

.dark-indigo {
  background-color: #303F9F;
}

.white {
  color: white;
}

.no-background {
  box-shadow: none !important;
  background-color: transparent !important;
}

.bottom-right {
  position:absolute;
  bottom:50px;
  right:25px;
}

.icon-bar-hide {
  opacity: 0.5;
  /*background-color: transparent !important;*/
}
.icon-img {
  width:100px;
}

.icon-link{
  position: relative;
  width:45px;
  vertical-align: middle;
  align-items: center;
}

.full-stack-artisan {
  background-image: url('../img/full-stack-artisan-icon2.png');
  content: '\e800';
}

.top-content {
  position: relative;;
}

#warehousing {
  position: relative;
  background-image: url('../img/warehousing-bg.png');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  /*
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;*/
}

#recomed {
  position: relative;
  background-image: url('../img/recomed-bg.png');
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

#mybrand {
  position: relative;
  background-color: #5c6bc0;
  /*background-image: url('../img/nucor-bg.png');*/
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

#nucor {
  position: relative;
  background-color: #5c6bc0;
  /*background-image: url('../img/nucor-bg.png');*/
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
